{% extends "layout.njk" %}

{% block head %}
   <title>{{texts.buttons[2]}} {{texts.headTable[0]}}</title>
{% endblock %}

{% block content %}

   <div class="card">

      <section class="avatar" 
               style="background: url({{member.avatar_url}}) no-repeat center center / cover"></section>

      <section class="details">

         <form method="POST" action="/members?_method=PUT">

            <h3>{{texts.buttons[2]}} {{texts.headTable[0]}}</h3>

            {% include "members/fields.njk" %}

            <input type="hidden" name="id" value="{{member.id}}">
         </form>

         <form id="form-delete" action="/members?_method=DELETE" method="post">
            <input type="hidden" name="id" value={{member.id}}>
            <button id="filter-members" type="submit">Deletar</button>
         </form>

      </section>
      
   </div>
      {% include "../confirm.njk" %}
      <script src="/scripts/gender-toggle.js"></script>
{% endblock content%}