{% extends "layout.njk" %}

{% block head %}
   <title>{{texts.titles[0]}}</title>
{% endblock head %}

{% block content %}
   <div class="card table-container">
      
      <div class="header">
         <a 
            class="button buttons-members" 
            href="/members/create"
            >{{texts.buttons[0]}}
         </a>
        
         <form action="/members" method="GET">
            <label 
               class="sr-only"
               for="members-input">{{texts.legends[0]}}
            </label>

            <input
               id="members-input" 
               type ="search" 
               name ="filter"
               title="Digite o nome do membro ou o e-mail"  
               placeholder ="Nome ou Email"
               value = {{filter}} 
               >
            <button 
               id="filter-members" 
               type="submit"
               >{{texts.buttons[1]}}
            </button>
         </form>
     
      </div>

      <table class="table-student-purple">
         <caption 
            class="sr-only"
            >{{texts.legends[1]}}
         </caption>

         <thead>
            <tr>
               {% for title in texts.headTable %}
                  <th 
                      scope="col" 
                      class="table-student-purple"
                      >{{title}}
                  </th>
               {% endfor %}
            </tr>
         </thead>

         <tbody>
            {% for member in members %}
               <tr>
                  <td>                
                     <span
                        style="background-image: url({{member.avatar_url}});">
                     </span>
                        <h3>{{member.name}}</h3>
                  </td>

                  <td>
                     <span>{{member.email}}</span>
                  </td>
                  
                  <td>
                    <span>{{member.weight}} kg</span>
                  </td>

                  <td>
                     <span>{{member.height}} cm</span>
                  </td>

                  <td>
                     <a class="button buttons-members" href="/members/{{member.id}}">ver</a>
                  </td>
               </tr>

            {% endfor %}
         </tbody>
      </table>

      <div class ="pagination"
           data-page = {{pagination.page}}
           data-total = {{pagination.total}}
           data-filter = {{pagination.filter}}
      ></div>
   
   </div>
{% endblock content%}