{% extends "layout.njk" %}

{% block tabs %}
    <div class="here">
        <a href="/">Sobre</a>
    </div>

    <div>
    {% endblock %}

    {% block content %}

        <div id="wrapper">
            <img src="{{about.avatar_url}}" alt=" Imagem de {{about.name}}">
            <h1>{{about.name}}</h1>
            <p>{{about.description}}</p>
        </div>

        <section class="blocos">
            <form action="" class="student">
                <fieldset>

                    <legend>
                        <h2>{{about.student[0].title}}</h2>
                    </legend>

                    <div class="items-grid">

                        <li data-id="UFPB">
                            <a href="https://www.{{about.student[1].alt}}.br/" target="_blank">
                                <img src="/assets/{{about.student[1].alt}}.svg" alt="Imagem da {{about.student[0].ufpb}}">
                                <span>{{about.student[1].ufpb}}</span>
                            </a>
                        </li>

                        <li class="student-card" data-id="Rocketseat">
                            <a class="text-rocketseat">
                                <img src="/assets/{{about.student[0].rocket}}.svg" alt="Imagem da {{about.student[0].rocket}}">
                                <span>{{about.student[0].rocket}}</span>
                                <p>{{about.student[2].launch}}</p>
                            </a>
                        </li>

                    </div>

                </fieldset>
            </form>
        </section>
        
        <div class="student-overlay">
            <div class="modal-student">

                <a class="max-modal">
                    <i class="material-icons">fullscreen</i>
                </a>

                <a class="min-modal">
                    <i class="material-icons">fullscreen_exit</i>
                </a>

                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <div class="content-student">
                    <h1 class="title">{{about.student[2].launch}}
                        -
                        {{about.student[0].rocket}}</h1>
                    <iframe src="https://www.{{about.student[0].rocket}}.com.br/launchbase" frameborder="0"></iframe>
                </div>

            </div>
        </div>

    {% endblock %}