<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/visuals/menu.css">
    
    {% block head %} {% endblock %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!-- Bloco de título e visual que será substituído caso seja clicado em Portfólio -->


</head>

<body>

    <header>
         <div class="links">
        
            {% block tabs %}
    
            {% endblock %} 
                        <a href="/portfolio">Portfólio</a>
                    </div>
                    
          </div>            

        <div class="socials">

            <a href="https://www.linkedin.com/in/lucas-de-lima-azsura/" target="_blank">
                <i style='font-size:24px' class='fab'>&#xf08c;</i>
            </a>

            <a href="https://github.com/Aszurar" target="_blank">
                <i style='font-size:24px' class='fab'>&#xf09b;</i>
            </a>

            <a href="https://www.facebook.com/lucas.delima.549436" target="_blank">
                <i style='font-size:24px' class='fab'>&#xf09a;</i>
            </a>

            <a href="https://www.instagram.com/lucazura/" target="_blank">
                <i style='font-size:24px' class='fab'>&#xf16d;</i>
            </a>

            <a href="mailto:lms.souza39@gmail.com">
                <i style='font-size:24px' class='far'>&#xf0e0;</i>
            </a>

            <a class="discord">
                <i style='font-size:23px' class='fab'>&#xf392;</i>
            </a>

            <a href="https://steamcommunity.com/profiles/76561198081343709/" target="_blank">
                <i style='font-size:24px' class='fab'>&#xf1b6;</i>
            </a>

            <a class="xbox">
                <i style='font-size:24px' class='fab'>&#xf412;</i>
            </a>

        </div>
    </header>

    <div class="discord-overlay">
        <div class="modal_discord">

            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="contant_discord">

                <div class="image">
                    <img src="https://avatars1.githubusercontent.com/u/64987824?s=460&u=51e8a76f68447d04bb10d3f57e77df673874bad6&v=4"
                        alt="Lucas de Lima">
                </div>

                <div class="text">
                    <h1>USERNAME</h1>
                    <p>Lucas de Lima#9622</p>
                    <h1>EMAIL</h1>
                    <p>lms.souza39@gmail.com</p>
                </div>

                <div class="logo">
                    <a href="https://discord.com/new" target="_blank">
                        <img src="/assets/discord.svg" alt="discord">
                    </a>
                </div>

            </div>

        </div>
    </div>


    <div class="xbox-overlay">
        <div class="modal_xbox">

            <a class="close-modal-xbox">
                <i class="material-icons">close</i>
            </a>

            <div class="contant_xbox">

                <div class="image">
                    <img src="https://images-eds-ssl.xboxlive.com/image?url=wHwbXKif8cus8csoZ03RWwcxuUQ9WVT6xh5XaeeZD02wEfGZeuD.XMoGFVYkwHDqjXslwJkYzyJc5xJOgMs7uML8RrT3MIFN_ZqAZwPbWTz6ubwuzGuWfesXot94uBtbRerz1_58oKkoqtBAlurqOtVI54FZJEsNEdnuMqlo1PM-&format=jpg&h=253&w=253"
                        alt="Lucas de Lima">
                </div>

                <div class="text">

                    <div class="gamerscore">
                        <h1>Aszurar</h1>
                        <img src="/assets/gamerscore.svg" alt="gamescore">
                        <p>12.868</p>
                    </div>

                    <p>Lucas Lima</p>

                    <div class="local">

                        <div>
                            <p>Localidade</p>
                            <h1>João Pessoa</h1>
                        </div>

                        <div class="xbox1">
                            <img src="/assets/live1.png" alt="1 ano de livegold">
                        </div>

                    </div>

                </div>

                <div class="logo">
                    <a href="https://xbox.com/pt-BR" target="_blank">
                        <img src="/assets/xbox.svg" alt="xbox">
                    </a>
                </div>

            </div>

        </div>
    </div>

    {% block content %}{% endblock %} 
    <!-- bloco de conteúdo vindo do about, bloco dinấmico -->


    <script src="/scripts/index.js"></script>

</body>

</html>