{% extends "layout.njk" %} 
<!-- Importando do layout html o menu -->


    <!-- Bloco de título e visual que será posto no layout caso seja clicado em Portfólio -->
{% block head %}
    <title>Portfólio</title>
    <link rel="stylesheet" href="/visuals/portfolio.css">

{% endblock %}


{% block tabs %}
    <div>
        <a href="/">Sobre</a>
    </div>

    <div class="here">
{% endblock %} 


<!-- bloco de conteudo indo pro layout, e caso seja clicado em Portfólio, esse conteúdo será resgatado -->
{% block content %} 

    <div class="grid">
        <div class="main">
            <section class="cards">
    
                <div class="card" id="projects">
                    <div class="projects">

                        <div class="card__image-container">
                            <span>{{port[0].number}}</span>

                            <div class="img__card">

                                <div class="tittle">
                                    <h1>{{port[0].title}}</h1>
                                </div>

                                <img src="/assets/{{port[0].title}}.svg" alt="{{port[0].title}}">

                            </div>

                        </div>

                        <div class="card__info">
                            <p>{{port[0].description}}</p>
                        </div>

                        <div class="technologies">
                            {% for icon in port[0].tech %}
                               <i class='fab'>{{icon}};</i> 
                            {% endfor %}
                        </div>

                        <div class="card__about">
                            <p>{{port[0].info[0].title}}</p>
                            <p class="card__level">{{port[0].info[1].quantity}}</p>
                        </div>

                    </div>
                </div>


                <div class="card" id="certificates">
                    <div class="certificates">

                        <div class="card__image-container">
                            <span>{{port[1].number}}</span>

                            <div class="img__card">

                                <div class="tittle">
                                    <h1>{{port[1].title}}</h1>
                                </div>

                                <img src="/assets/{{port[1].title}}.svg" alt="{{port[1].title}}">

                            </div>

                        </div>

                        <div class="card__info">
                            <p>{{port[1].description}}</p>
                        </div>

                        <div class="curses">
                            <img id="eldorado" src="/assets/{{port[1].tech[0].name}}.svg"
                                alt="Image de {{port[1].tech[0].alt}}">
                            <img id="ufpb" src="/assets/{{port[1].tech[1].name}}.svg" alt="{{port[1].tech[1].alt}}">
                        </div>

                        <div class="card__about">
                            <p>{{port[1].info[0].title}}</p>
                            <p class="card__level">{{port[1].info[1].quantity}}</p>
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </div>


    <div class="modal-overlay">
        <div class="modal">

            <a class="max-modal">
                <i class="material-icons">fullscreen</i>
            </a>

            <a class="min-modal">
                <i class="material-icons">fullscreen_exit</i>
            </a>

            <a class="close-modal-overlay">
                <i class="material-icons">close</i>
            </a>

            <iframe src="" frameborder="0"></iframe>

        </div>
    </div>

    <script src="/scripts/portfolio.js"></script>

    {% endblock %}