<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/visuals/menu.css">
        <link rel="stylesheet" href="/visuals/projects.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>

    <body>

        <h1>Projetos</h1>

        <section class="cards-projects">
            {% for item in items %}

                <div class="card-project">

                    <div class="image-project" id="{{item.id}}" title="{{item.title}}">
                        <img src="/assets/{{item.title}}.png" alt="A imagem de {{item.title}}">
                    </div>

                    <a href="{{item.link}}" target="_blank">
                        <div class="card-project__content">
                            <p>{{item.info}}}</p>
                        </div>
                    </a>

                    <div class="card-project__technologies">  
                        {% for technologie in item.tech %}
                          <i class='fab'>&{{technologie}};</i>
                        {% endfor %}

                    </div>

                    <div class="card-project__info">
                        <p>{{item.duration}}</p>
                        <p class="card-project__type">{{item.type}}</p>
                    </div>

                </div>
            {% endfor %}

        </section>

        <div class="card-project-overlay">
            <div class="card-project-modal">

                <a class="max-modal">
                    <i class="material-icons">fullscreen</i>
                </a>

                <a class="min-modal">
                    <i class="material-icons">fullscreen_exit</i>
                </a>

                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                <div class="modal-content">
                    <h1></h1>
                    <iframe src="" frameborder="0" id="pageIframe"></iframe>
                </div>

            </div>
        </div>

        <script src="/scripts/projects.js"></script>
    </body>

</html>