{% extends "layout.njk" %}

{% block head %}
    <title>{{item.info}}</title>
    <link rel="stylesheet" href="/visuals/video.css">
{% endblock %}

{% block tabs %}
    <div>
        <a href="/">Sobre</a>
    </div>
{% endblock %}

{% block content %}

    <main class="screen">
        <h1>{{item.title}}</h1>

        <section class="video">

            <div class="card-project">

                <div class="video-project" id="{{item.id}}" title="{{item.title}}">
                    <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0" id="pageIframe"></iframe>
                </div>

                <a href="{{item.link}}" target="_blank">
                    <div class="card-project__content">
                        <p>{{item.info}}}</p>
                    </div>
                </a>

                <div class="card-project__technologies">
                    {% for technologie in item.tech %}
                        <i class='fab'>&{{technologie}};</i>
                    {% endfor %}

                </div>

                <div class="card-project__info">
                    <p>{{item.duration}}</p>
                    <p class="card-project__type">{{item.type}}</p>
                </div>

            </div>

        </section>
    </main>
{% endblock %}