{% extends "../layoutManeger.njk" %}

{% block title %}
    <title>Cadastrar Receita</title>
{% endblock %}

{% block content %}
    <form class="card" method="post" action="/admin/recipes">
        <div class="head_create">
            <h1>Criando receita</h1>
            <button type="submit">Salvar receita</button>
        </div>

        {% include "admin/recipes/fields.njk" %}
    </form>
{% endblock %}