{% extends "../layoutManeger.njk" %}

{% block title %}
    <title>Editar</title>
{% endblock %}

{% block content %}
  <div class="card">

    <div class="head_create">
      <h1>Editando Receita</h1>
    </div>
    
    <form action="/admin/recipes?_method=DELETE" method="post" >
      <div class="head_create">
        <input type="hidden" name="id" value="{{recipe.id}}">
        <button type="submit">Deletar</button>
      </div>
    </form>  

    <form method="POST" action="/admin/recipes?_method=PUT">
      <div class="head_create">
          <input type="hidden" name="id" value="{{recipe.id}}">
          <button type="submit">Salvar receita</button>
      </div>

      {% include "admin/recipes/fields.njk" %}
    </form>


  </div>

{% endblock %}