{% extends "../layoutManeger.njk" %}

{% block head %}
    <title>Editar</title>
    <link rel="stylesheet" href="../../visuals/fields.css">
{% endblock %}

{% block content %}
  <form class="card" method="POST" action="/admin/recipes?_method=PUT">
    <div class="head_create">
        <h1>Editando Receita</h1>
        <input type="hidden" name="id" value="{{recipe.id}}">
        <button type="submit">Salvar receita</button>
    </div>

    {% include "admin/recipes/fields.njk" %}
  
  </form>  
{% endblock %}