{% extends "../layoutManeger.njk" %}

{% block title %}
<title>Receitas</title>
<link rel="stylesheet" href="/visuals/indexlist.css">
{% endblock %}

{% block content %}
    <div class="card">
        
        <div class="titleindex">
            <h1>Gerenciar receitas</h1>
        </div>

        <main class="cards">

            {% for recipe in recipes %}
                <div class="recipe">
                    <img src="{{recipe.thumbnail}}" alt="Imagem da receita {{recipe.title}}">
                    
                    <div class="info_thumb">
                        <h4>{{recipe.title}}</h4>
                        <p>por {{recipe.chef}}</p>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>

                </div>
            {% endfor %}
        
        </main>
        
    </div>
{% endblock %}