{% extends "../layoutManeger.njk" %}

{% block title %}
<title>Receitas</title>
<link rel="stylesheet" href="/visuals/indexlist.css">
{% endblock %}

{% block content %}
    <main class="card">
        
        <div class="titleindex">
            <h1>Gerenciar receitas</h1>
        </div>

        <main class="cards">
        <h1>{{recipes[0].chef}}</h1>

            {% for recipe in recipes %}
                <div class="item">
                    <img src="{{recipe.thumbnail}}" alt="Imagem da receita {{recipe.title}}">
                    <h1>{{recipe.title}}</h1>
                </div>
            {% endfor %}
        <h1>{{recipes[0].chef}}</h1>
        </main>
    </main>
{% endblock %}