{% extends "../layoutManeger.njk" %}

{% block title %}
    <title>{{recipe.title}}</title>
{% endblock %}

{% block content %}
    <main class="card">
        <div class="head_show">
                <h1>{{names.subtitle[0]}} {{recipe.title}}</h1>
                <a href="/admin/recipes/{{recipe.id}}/edit" class="editButton">{{names.editButton}}</a>
        </div>

        <div class="thumbnail">
            <img src="{{recipe.thumbnail}}" alt="Imagem do Tripo Bacon Burger">
        </div>

        <div class="title">
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef}}</p>
        </div>

        <div class="item" id="itemShow">
            <h2>{{names.subtitle[1]}}</h2>
            <ul>
                {% for item in recipe.ingredients %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="item" id="itemShow">
            <h2>{{names.subtitle[2]}}</h2>
            <ul>
                {% for item in recipe.preparation %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="item" id="itemShow">
            <h2>{{names.subtitle[3]}}</h2>
            <p>{{recipe.info}}</p>
        </div>
    </main>
    
{% endblock %}