{% extends "../layoutManeger.njk" %}

{% block head %}
<title>Triplo bacon burger</title>
<link rel="stylesheet" href="/visuals/fields.css">
{% endblock %}

{% block content %}
    <main class="card">
        <div class="head_show">
                <h1>Receita: Tripo Bacon Burger</h1>
                <a href="/" class="editButton">Editar receita</a>
        </div>

        <div class="thumbnail">
            <img src="/assets/burger.png" alt="Imagem do Tripo Bacon Burger">
        </div>

        <div class="title">
            <h1>Triplo bacon burger</h1>
            <p>por Jorge Relato</p>
        </div>

        <div class="item" id="itemShow">
            <h2>Ingredientes</h2>
            <li>3 kg de carne moída (escolha uma carne magra e macia);</li>
            <li>300 g de bacon moído;</li>
            <li>1 ovo;</li>
            <li>3 colheres (sopa) de farinha de trigo;</li>
            <li>3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador;</li>
            <li>30 ml de água gelada;</li>
        </div>

        <div class="item" id="itemShow">
            <h2>Modo de preparo</h2>
            <li>3 kg de carne moída (escolha uma carne magra e macia);</li>
            <li>300 g de bacon moído;</li>
            <li>1 ovo;</li>
            <li>3 colheres (sopa) de farinha de trigo;</li>
            <li>3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador;</li>
            <li> 30 ml de água gelada;</li>
        </div>

        <div class="item" id="itemShow">
            <h2>Informações adicionais</h2>
            <p>Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. 
               Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres! 
               <br><br>
               Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? 
               A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu 
               também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. 
               Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, 
               como queijom tomates e alface.
            </p>
        </div>

    </main>
    
{% endblock %}