{% extends "../layoutManeger.njk" %}

{% block head %}
<title>Triplo bacon burger</title>
<link rel="stylesheet" href="/visuals/fields.css">
{% endblock %}

{% block content %}
    <main class="card">
        <div class="head_show">
                <h1>Receita: Tripo Bacon Burger</h1>
                <a href="/" class="editButton">Editar receita</a>
        </div>

        <div class="thumbnail">
            <img src="/assets/burger.png" alt="Imagem do Tripo Bacon Burger">
        </div>

        <div class="title">
            <h1>Triplo bacon burger</h1>
            <p>por Jorge Relato</p>
        </div>

    </main>
    
{% endblock %}