* {
    /*selecionando todos blocos do html e zerando propriedade padrões do navegador*/
    padding: 0;
    border: 0;
    margin: 0;
  }

.here a{
    color: var(--color-black);
    border-bottom: 3px solid var(--color-black);
  }

body{
    background-color: var(--color-dark-light);
    color: var(--color-white);
}


/* cards */
.grid {
    margin-top: 115px;
    display: flex;
    justify-content: center;
    color: var(--color-white);
    align-items: center;
  }
  
.main {
    width: 100%;
    max-width: 550px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  
.card {
    text-decoration: none;
    display: flex;
  }
  
.card__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex: 1 1 0%; */
}
  
.card__image-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
  }
  
.img__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.img__card .tittle{
    margin-top: 30px;
}

.img__card img {
    margin-bottom: 20px;
    height: 145px;
    margin: 30px 0px 55px;

}
  
.card__info p {
    text-decoration: none;
    /* max-width: 270px; */
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}
  
.card__about {
    margin-top: ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
  }
  
.card__about p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
.card__level {
    color: var(--color-black);
  }
  
  /* card 01 */
.projects {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black);
    border-radius: 5%;
    transition: all 0.2s ease 0s;
    padding: 64px;
    border: 3px solid var(--color-dark-light);
    color: var(--color-bluebold);
    cursor: pointer;
}
  
.projects .card__image-container span {
    border: 3px solid;
  }

.projects .card__about {
    color: var(--color-bluebold);
  }
.projects .card__level {
    background-color: var(--color-bluebold);
    padding: 5px 20px;
    border-radius: 20px;
  }
 
.projects .technologies{
    font-size:36px; 
    color: var(--color-bluebold);
    margin: 20px auto;
    align-items: center;
}

.technologies i{
    margin: 0 5px;
}

.projects:hover {
    border: 3px solid var(--color-bluebold);
    transition: 750ms;
  }
  
  /* card 02 */
.certificates {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black);
    border-radius: 5%;
    transition: all 0.2s ease 0s;
    padding: 64px;
    border: 3px solid var(--color-dark-light);
    color: white;
    cursor: pointer;
}

.certificates .card__image-container span {
    border: 3px solid ;
}

.certificates .curses{
    display: flex;
    align-items: center;
    justify-content: center;
}

.curses img{
    margin: 0 40px;
}

.curses #eldorado{
    width: 80px;
    height: 50px;
}

.curses #ufpb{
    height: 70px;
    width: 40px;
}

.certificates .card__level {
    background-color: var(--color-white);
    padding: 5px 20px;
    border-radius: 20px;
}
  
.certificates:hover {
    border: 3px solid var(--color-white);
    transition: 750ms;
}


/* =====MODAL===== */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  cursor: initial;
}

.modal {
  background-color: var(--color-black);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
  border-radius: 15px;
  color: var(--color-gray);
  cursor: initial;
}

.modal .close-modal-overlay{
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
 
}

.modal .max-modal{
  position: absolute;
  top: 8px;
  right: 32px;
  cursor: pointer;
}
.modal .min-modal{
  position: absolute;
  top: 8px;
  right: 32px;
  cursor: pointer;
  visibility: hidden;
}

/* modal-overlay active */
.modal-overlay.active{
  opacity: 1;
  visibility: visible;
  
}


/* modal-active */
.modal.projects{
  padding:0;
  transition: none;
  color: var(--color-bluebold);
  border: 3px solid;
}

.modal.certificates{
  padding:0;
  border: 0;
  transition: none;
  color: var(--color-white);
  border: 3px solid var(--color-white);

}

/* modal-max */
.modal.maximize{
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
/* .modal.maximize iframe{
  width: 100%;
} */

.modal.maximize .max-modal{
  visibility: hidden;
  border-radius: 0;
  border: 0;

}

.modal.maximize .min-modal{
  visibility: visible;
} 

.modal .close-modal-overlay:hover{
  background-color: var(--color-transparent);
  transition: 300ms;
  border-radius: 20%;
}

.modal .max-modal:hover{
  background-color: var(--color-transparent);
  transition: 300ms;
  border-radius: 20%;
}

.modal .min-modal:hover{
  background-color: var(--color-transparent);
  transition: 300ms;
  border-radius: 20%;
}

iframe{
  width: 100%;
  height: 90%;
  position: absolute; /*criando um novo contexto para que o vídeo ocupe toda tela branca*/
  top: 5%;
}
