* {
  /*selecionando todos blocos do html e zerando propriedade padrões do navegador*/
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  background: var(--color-dark-light);
  color: var(--color-white);
}

.here a{
  color: var(--color-black);
  border-bottom: 3px solid var(--color-black);
}
#wrapper {
  /*método de referência pelo id*/
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-bluebold);
  height: 300px;
}
#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}
#wrapper h2 a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
}

#wrapper h2 a:hover {
  color: var(--color-blue-transparent);
  transition: 800ms;
}

#wrapper p {
  max-width: 500px; /*vai quebrar a linha, e zoar a ecntralização*/
  margin: 5px auto; /* corrigindo a centralização acima!*/
  font-size: 24px;
  line-height: 34px;
}


form {
  background-color: var(--color-blue-transparent);
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
}

form fieldset {
  /* margin-top: 64px; */
  border: 0;
}

form legend {
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-size: 32px;
}

.student {
  width: 90%;
  max-width: 700px;

  margin: 10px auto;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 16px; /*espaço entre os itens do grid*/
}

.items-grid li {
  background-color: var(--color-blue-transparent);
  list-style: none;

  border: 4px solid var(--color-blue-transparent);
  border-radius: 8px;

  min-width: 180px;
  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  cursor: pointer;
}

.items-grid li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.items-grid li a img{
  border-radius: 20%;
}

.items-grid li a span {
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;

  color: var(--color-white);
}
.items-grid li a p {
  color: var(--color-black);
  font-weight: bold;
}
.items-grid li:hover {
  /* border: 4px solid var(--color-white); */
  border: 4px solid #000000;
  ;
  transition: 800ms;
}


/* #Rocketseat img{
  border-radius: 50%;
} */

/* =====MODAL===== */
.student-overlay {
  background-color: var(--color-transparent);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-student {
  background-color: var(--color-black);
  width: 80%;
  height: 85%;
  margin: 5vh auto;
  position: relative;
  border-radius: 15px;
  color: var(--color-white);



}

.modal-student .close-modal{
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer; 
}


.modal-student .max-modal{
  position: absolute;
  top: 8px;
  right: 32px;
  cursor: pointer;
}
.modal-student .min-modal{
  position: absolute;
  top: 8px;
  right: 32px;
  cursor: pointer;
  visibility: hidden;
}

.modal-student .close-modal:hover{
  background-color: var(--color-transparent);
  transition: 300ms;
  border-radius: 20%;
  color: var(--color-orange);
}

.modal-student .min-modal:hover{
  background-color: var(--color-transparent);
  transition: 300ms;
  border-radius: 20%;
  color: var(--color-orange);
}

.modal-student .max-modal:hover{
  background-color: var(--color-transparent);
  transition: 300ms;
  border-radius: 20%;
  color: var(--color-orange);
}

/* modal-overlay active */
.student-overlay.active{
  opacity: 1;
  visibility: visible;
  
}
.content-student{
  align-items: center;
  justify-content: center;
  
}
.content-student h1{
  text-align: center;
  padding-top: 28px;
  color: var(--color-orange);

}

 .content-student iframe{
  width: 95%;
  height: 85%;
  position: absolute;
  top: 5%;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: 2.5%;
  border-radius: 15px;

}

/* modal-max */
.modal-student.maximize{
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.modal-student.maximize iframe{
  margin: 30px 0 0 0;
  width: 100%;
  height: 90%;
}

.modal-student.maximize .max-modal{
  visibility: hidden;
}

.modal-student.maximize .min-modal{
  visibility: visible;
} 

