@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";
:root {
  --color-blue-blue-background: #345e94a2;
  --color-blue-dark: #030018;
  --color-white: white;
  --color-blue-border:rgb(0, 247, 255);
  
}

* {
  /*selecionando todos blocos do html e zerando propriedade padrões do navegador*/
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  background: var(--color-blue-dark);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-white);
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1); /*preto com tranparência*/
}

.links {
  text-align: center;
}

.links a {
  color: var(--color-white);
  font-size: 18px;
  line-height: 28px; /*ajustar a altura do texto, no caso dando um espaçamento pela altura*/
  margin: 0 16px;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  /*{ hover é para adicionar efeitos no texto como transições de cores ou imagens/botões */
  color: var(--color-blue-border);
  transition: 1500ms;
}

#wrapper {
  /*método de referência pelo id*/
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-blue-border);
  height: 300px;
}
#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}
#wrapper h2 a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
}

#wrapper h2 a:hover {
  color: var(--color-blue-blue-background);
  transition: 800ms;
}

#wrapper p {
  max-width: 500px; /*vai quebrar a linha, e zoar a ecntralização*/
  margin: 10px auto; /* corrigindo a centralização acima!*/
  font-size: 24px;
  line-height: 34px;
}

#links-footer a {
  border-bottom: 1px solid #0b0018;
}

form {
  background-color: var(--color-blue-blue-background);
  margin: 20px auto;
  padding: 64px;

  border-radius: 8px;
  max-width: 730px;
}

form fieldset {
  /* margin-top: 64px; */
  border: 0;
}

form legend {
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  font-size: 32px;
}

.student {
  width: 90%;
  max-width: 700px;

  margin: 10px auto;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 16px; /*espaço entre os itens do grid*/
}

.items-grid li {
  background-color: var(--color-blue-blue-background);
  list-style: none;

  border: 4px solid var(--color-blue-blue-background);
  border-radius: 8px;

  min-width: 180px;
  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  cursor: pointer;
}

.items-grid li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.items-grid li a img{
  border-radius: 20%;
}

.items-grid li a span {
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;

  color: var(--color-white);
}
.items-grid li a p {
  color: var(--color-blue-border);
  font-weight: bold;
}
.items-grid li:hover {
  /* border: 4px solid var(--color-white); */
  border: 4px solid rgb(0, 247, 255);
  transition: 800ms;
}


/* #Rocketseat img{
  border-radius: 50%;
} */

/*==========CARDS==========*/

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #7159c1;
  border-radius: 15px;
  cursor: pointer;


}

.card__image-container img{
  width: 100%;
  border-radius: 15px;

}

.card__info,
.card__content{
  padding: 24px;
}

.card__info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__price{
  background-color: #7159c1;
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/* =====MODAL===== */
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  background-color: var(--color-blue-dark);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative; /*permitindo em conjunto com o position absolute do close-modal o ícone de ser posto em qualquer região da tela*/
  border-radius: 2%;
}

.modal .close-modal{
  color: var(--color-white);
  position: absolute; /*Configurando o ícone x de fechar podendo se posicionado em qualquer parte da região do modal(caixa branca)
  isso é feito a partir do positition relative declarado no modal*/
  right: 8px; /*configurando o close para a direia 8 px do limite da caixa branca*/
  top: 8px; /* e 8 px do topo*/
  cursor: pointer;
}

/* =====MODAL.Active===== */
.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

iframe{
  width: 100%;
  height: 90%;
  position: absolute; /*criando um novo contexto para que o vídeo ocupe toda tela branca*/
  top: 5%;
}