@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-blue-transparent: #7289dab9;
  --color-dark-light: #23272a;
  --color-dark-light-transparent: #23272acc;
  --color-white: white;
  --color-transparent: #e9ecf04b;
  --color-bluebold: #7289da;
  --color-black: #000000;
  --color-gray: rgb(207, 206, 206);
  --color-yellow: #F7DF1E;
  --color-bluepast: #99aab5;
  --color-orange: rgb(255, 201, 22);
  --color-orange-card: rgb(253, 149, 31);
}

* {
  /*selecionando todos blocos do html e zerando propriedade padrões do navegador*/
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--color-white);
}

header {
  background-color: var(--color-bluebold);
  width: 100%;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  /* faz com que o conteúdo vá até o limite da largura disponível - resolve o problema com padding */
}

.links {
  font-size: 22px;
}

/* forma de realizar um separamento entre elementos utilizando só uma propriedade, nesse caso, a + a quer dizer pegar um elemento a e seu antecessor e aplicar a propriedade no meio deles! */
.links a + a {
  margin-left: 2rem;
}

.links a {
 text-decoration: none;
 color: var(--color-dark-light);
 position: relative;
}

 .links a:hover{
   color: var(--color-white);
 }

 /* criando um pseudoelemento após(after) o primeiro a do links, ferramenta utilizada para decorar elementros  */
.links a::after{
  content: "";
  width: 0%;
  height: 0.125rem;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  bottom: -0.25rem;
}

 .links a:hover::after{
  width: 100%;
  /* a propriedade de transição é utilizada em animações, ela pode ser aplicada a diversos elementos, na dúvida basta utilizar o termo all, mas nesse */
  /* caso espeficamente, sabemos que é o width ara fazer a sensação de preenschimento da esquerda para direita */
  transition: width 500ms ease-in-out;
 /*o ease-inout é  aforma da animação, nessa opção, a animação vai começar e terminar devagar, mas no meio irá rápido  */
}

/* .links a.active::after{
  width: 100%;
} */


.links a.active{
  font-weight: bold;
  color: var(--color-white);
 }

.links a.active::after{
  font-weight: bold;
  color: var(--color-white);
  width: 100%;
 }