@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: var(--color-dark-light);
    font-family: 'Roboto', 'sans-serif';
}

.card{
    background-color: var(--color-bluebold);
    width: 1000px;
    height: 820px;
    /* espaçamento ao centro(funciona apenas com o height/width configurados */
    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    /* caixa de sombras */
    /* 1º - eixo x - eixo y - bluer -  */
    box-shadow: 0px 2px  20px  -2px var(--color-black);

    opacity: 0;
    
    /* animação */
    animation: left;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
/* aniimação da esqueda, corm duração de 500 ms, em ease-in-out
    apartitir de uma opaidade 0 translocando no eixo x 90 pixels da esquerda para direita
    parando em opacidade 1 */

    animation-fill-mode: forwards;
    /* forçando a animação parar no to com opacidade 1 */
}

@keyframes left {
    from {
        transform: translateX(-90px);
    }
    to {
        opacity: 1;
    }
}

/* details */

.details{
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

/* tirar o border do último  */
.details .item:last-child{
    border:none
}

/* pegando o primeiro div dentro das classes item*/
.details h3,
.details .item div:nth-child(1) {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-black);
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    font-size: 22px;
    color: var(--color-white);
    font-weight: bold;
}

.details h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-white);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--color-yellow);
    border-radius: 16px;
    color: var(--color-dark-light);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.details .item span:hover{
    background-color: var(--color-orange-card);
    transition: 1.3s;
}

/* FORM */

input {
    width: 100%;
    outline: none;
    font-size: 22px;
    color: var(--color-dark-light);
    font-weight: bold;
    padding: 16px 8px;
    border-radius: 4px;
    background-color: var(--color-bluepast);
}

input[type="radio"] {
    /* iniitial faz com que não seja aplicado o width 100%, e sim, fique o padrão para que não quebre */
    width: initial; 
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
    color: var(--color-white);
}

button[type="submit"] {
    padding: 16px 38px;
    background-color: var(--color-dark-light);
    color: var(--color-bluebold);
    width: 100%;
    border-radius: 4px;
    margin-top: 32px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: var(--color-black);
    transition: 1.3s;
}