body {
  background: url("../assets/Wallpaper\ LaunchBase\ -\ 1920x1080.svg") no-repeat;
  height: 100vh;
}

.menu .here a {
  color: var(--color-orange);
  border-bottom: 3px solid var(--color-orange);
}

@media (max-width: 900px) {
  body {
    margin-left: 20px;
    background-position-x: 100vw;
  }

  body header {
    align-items: center;
    text-align: center;
  }

  #about {
    position: absolute;

    left: 50%;
  }
}
