body {
  background: var(--color-background);
}

.menu .here a {
  color: var(--color-orange);
  border-bottom: 3px solid var(--color-orange);
}

#wrapper {
  text-align: center;
  padding: 32px;
  justify-content: center;
  align-items: center;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-orange);
  height: 300px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper p {
  max-width: 600px;
  font-weight: bold;
  margin: 28px auto;
  font-size: 28px;
  line-height: 34px;
}

#links-footer a {
  display: unset;
}

#wrapper ul {
  font-weight: bold;
}

#wrapper ul div {
  font-size: 24px;
}

#wrapper ul li {
  font-size: 20px;
  list-style-position: inside;
}

form {
  background-color: var(--color-dark);
  margin: 90px auto;
  padding: 64px;

  border-radius: 8px;
  max-width: 730px;
}

form fieldset {
  border: 0;
}

form legend {
  margin-bottom: 40px;
  text-align: center;

  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-size: 24px;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 16px;
}

.items-grid li {
  background-color: var(--color-dark);
  list-style: none;

  border: 3px solid var(--color-dark);
  border-radius: 8px;

  min-height: 180px;

  padding: 32px 24px 16px;

  /* width: 165; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  cursor: pointer;
}

.items-grid li a {
  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.items-grid li a img {
  border-radius: 20%;
}

.items-grid li a span {
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
  color: var(--color-white);
}

.technologies {
  width: 90%;
  max-width: 1100px;

  margin: 0 auto;
}

.items-grid li:hover {
  border: 3px solid var(--color-orange);
  /* background-color: var(--color-bright);  */
  transition: 800ms;
}

.items-grid li a span {
  pointer-events: none;
}
