
body {
    align-items: center;
    justify-content: center;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main main{
    background-color: var(--color-pink);
    border-radius: 30px;
    height: 366px;
    width: 940px;
    display: flex;
}

.text-main{
    margin-top: 12%;
    margin-left: 6.5%;
}

.text-main h1{
    font-size: 32px;
    line-height: 38px;
}

.text-main p{
    line-height: 28px;
    margin-top: 1%;
    width: 316px;
    
    opacity: 0.7;
    font-size: 18px;
    color: var(--color-text-main-p);
}

.pet {
    margin-top: 7%;
    margin-left: 26%;
    margin-right: 7.1%;
}

.table{
    margin-left: 25.6%;
    margin-top: 2.5%;
    margin-right: 25.6%;
}

.cards{
    margin-top: 1.8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.image-card{
    margin: 0;
}

.image-card img{
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.content-card{
    margin-top: 6%;
    margin-bottom: 7%;

}

.content-card h1{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.content-card p{
    color: var(--color-gray);
    font-size: 14px;
    line-height: 16px;
    margin-top: 0.3%;
}