{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="./visuals/index.css">
    <title>{{index.title}}</title>
{% endblock %}

{% block links %}
    <div class="links">
        <div class="link">
            <a href="about.html">Sobre</a>
        </div>

        <div class="link" id="recipe">
            <a href="/recipe">Receitas</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main">
        <main>

            <div class="text-main">
                <h1>{{index.slogan}}</h1>
                <p>{{index.info}}</p>
            </div>

            <div class="pet">
                <img src="./assets/{{index.pet}}.png" alt="Imagem do {{item.title}}">
            </div>

        </main>
    </div>

    <h1 class="subtitle">{{index.text}}</h1>

    <section class="table">

        <div class="cards">
            {% for item in recipes %}

                <div class="card" id="burger">

                    <div class="image-card">
                        <img src="{{item.image}}" alt="Triplo bacon burger">
                    </div>

                    <div class="content-card">

                        <div class="text">
                            <h1>{{item.title}}</h1>
                            <p>{{item.author}}</p>
                        </div>

                    </div>

                </div>
            {% endfor %}

        </div>
    </section>

    <div class="copyright">
        <p>{{index.copyright}}</p>
    </div>

    <div class="modal-overlay">

        <div class="modal">

            <div class="modal-image">
                <img src="" alt="">
            </div>

            <div class="modal-text">
                <h1></h1>
                <p></p>
            </div>

            <div class="close-modal-overlay">
                <p>Fechar modal</p>
            </div>

        </div>

    </div>

    <script src="./scripts/index.js"></script>
{% endblock %}