            <div class="item">
                <div>{{create.titles[0]}}:</div>
                <div>
                    <input 
                        type="text"
                        name="avatar_url"
                        placeholder="https://..."
                        value="{{student.avatar_url}}"
                        >
                </div>
            </div>
            
            <div class="item">
                <div>{{create.titles[1]}}:</div>
                <div>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Digite o nome do Professor..."
                    value="{{student.name}}"
                    >
                </div>
            </div>

            <div class="item">
                <div>{{create.titles[2]}}:</div>
                <div>
                    <input 
                        type="date"
                        name="birth"
                        value="{{student.birth}}"
                    >
                </div>
            </div>

            <button type="submit">{{create.save}}</button>
