            <div class="item">
                <div>{{create.titles[0]}}:</div>
                <div>
                    <input 
                        type="text"
                        name="avatar_url"
                        placeholder="https://..."
                        value="{{student.avatar_url}}"
                        required
                        >
                </div>
            </div>
            
            <div class="item">
                <div>{{create.titles[1]}}:</div>
                <div>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Digite o nome do Professor..."
                    value="{{student.name}}"
                    required
                    >
                </div>
            </div>

            <div class="item">
                <div>{{create.titles[2]}}:</div>
                <div>
                    <input 
                        type="date"
                        name="birth"
                        value="{{student.birth}}"
                        required
                        >
                </div>
            </div>

            <div class="item">
                <div>{{create.titles[4]}}:</div>

                <div>
                    <input 
                    type="email"
                    name="email"
                    placeholder="...@gmail/@outlook.com"
                    value="{{student.email}}"   
                    required
                    >
                </div>
            </div>

            <div class="item">
                <div>{{create.titles[5]}}:</div>

                <select name="grades">
                    <option value= "5" {% if student.grades == "5" %}selected{% endif %}>5º {{create.grades[0]}}</option>
                    <option value= "6" {% if student.grades == "6" %}selected{% endif %}>6º {{create.grades[0]}}</option>
                    <option value= "7" {% if student.grades == "7" %}selected{% endif %}>7º {{create.grades[0]}}</option>
                    <option value= "8" {% if student.grades == "8" %}selected{% endif %}>8º {{create.grades[0]}}</option>
                    <option value= "9" {% if student.grades == "9" %}selected{% endif %}>9º {{create.grades[0]}}</option>
                    <option value= "1" {% if student.grades == "1" %}selected{% endif %}>1º {{create.grades[1]}}</option>
                    <option value= "2" {% if student.grades == "2" %}selected{% endif %}>2º {{create.grades[1]}}</option>
                    <option value= "3" {% if student.grades == "3" %}selected{% endif %}>3º {{create.grades[1]}}</option>
                </select>
            </div>

            <div class="item">
                <div>{{create.titles[6]}}:</div>
                <div>
                    <input type="number"
                           name="credits"
                           value="{{student.credits}}"
                           >            
                </div>
            </div>

            <button type="submit">{{create.save}}</button>
