            <div class="item">
                <div>{{create.titles[0]}}:</div>
                <div>
                    <input 
                        type="text"
                        name="avatar_url"
                        placeholder="https://..."
                        value="{{student.avatar_url}}"
                        >
                </div>
            </div>
            
            <div class="item">
                <div>{{create.titles[1]}}:</div>
                <div>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Digite o nome do Professor..."
                    value="{{student.name}}"
                    >
                </div>
            </div>

            <div class="item">
                <div>{{create.titles[2]}}:</div>
                <div>
                    <input 
                        type="date"
                        name="birth"
                        value="{{student.birth}}"
                    >
                </div>
            </div>

           <div class="item">
                <div>{{create.titles[3]}}:</div>
                <select name="level" valur= "{{student.level}}">
                    <option value="hischool">{{create.level[0]}}</option>
                    <option value="univers">{{create.level[1]}}</option>
                    <option value="masters">{{create.level[2]}}</option>
                    <option value="doctorate">{{create.level[3]}}</option>
                </select>
            </div>

             <div class="item">
                <div>{{create.titles[4]}}:</div>
                <div class="typeclass">
                    <div class="test test1">
                        <label class="container ct1">{{create.type[0]}}
                           
                            <input name="type" 
                                   value="on" 
                                   {% if (student.type == "on") or (student.type == "double") %}
                                   checked {% endif %} 
                                   type="checkbox">
                           
                            <span class="checkmark" 
                                  id="check1"></span>
                        </label>
                    </div>
                    
                    <div class="test test2">
                        <label class="container ct2">{{create.type[1]}}
                            
                            <input name="type" 
                                   value="off" 
                                   {% if (student.type == "off") or (student.type == "double") %}
                                   checked {% endif %} 
                                   type="checkbox">
                            <span class="checkmark"
                                  id="check2"></span>
                        
                        </label>
                    </div>
                </div>
            </div>

            <div class="item">
                <div>Matéria:</div>
                {# <select name="classes">
                    <option value="Artes">Artes</option>
                    <option value="Biologia">Biologia</option>
                    <option value="Espanhol">Espanhol</option>
                    <option value="Física">Física</option>
                    <option value="Geografia">Geografia</option>
                    <option value="História">História</option>
                    <option value="Inglês">Inglês</option>
                    <option value="Matemática">Matemática</option>
                    <option value="Química">Química</option>
                    <option value="Redação">Redação</option>
                    <option value="Inglês">Inglês</option>
                </select> #}

                <input 
                    type="text" 
                    name="classes"
                    placeholder="Informe a matéria que será lecionada..."
                    value="{{student.classes}}"
                    >
            </div>

            <button type="submit">{{create.save}}</button>
