<!DOCTYPE html>
<html lang="pt-br">

    <head>
       <meta charset="UTF-8">
       <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
       <link rel="stylesheet" href="/visuals/layout.css">
       <link rel="stylesheet" href="/visuals/index.css"> 
       
       {% block title %}
          <title>My Teacher List</title>
       {% endblock %}
        <body>
            <header>
                <nav class="links">
                    <a href="/teachers">Teachers</a>
                    <a href="/students">Students</a>
                </nav>
            </header>

            {% block content %}{% endblock %}

            <script src="/scripts/script.js"></script>
        </body>
    </html>