* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    color: var(--color-dark-light);
    background-color: var(--color-bluebold);
}

.card{
    background-color: var(--color-dark-light);
    margin: 1.563rem auto;
    max-width: 62.5rem;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0rem 0.125rem 1.25rem 0.5rem var(--color-black);

    opacity: 0;

    animation: down;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes down{

    from{
        /* transform: translateY(90px); */
        transform: translateY(-200px);
    }

    to{
        opacity: 1;
    }
}

.details{
    padding: 20px 40px;
}

.details .item{
    border-bottom: 1px solid var(--color-white);
    padding: 20px 0;
}

.details .item:last-child{
    border: none;
}

.details h3,
.details .item div:nth-child(1){
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
    letter-spacing: 1px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    font-size: 20px;
    color: var(--color-bluebold);
    font-weight: bold;
}

.details h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--color-gray);
}

.details span {
    padding: 0.5rem 1rem;
    background-color: var(--color-red);
    border-radius: 1rem;
    color: var(--color-black);
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: default;

}

.details span + span + span + span{
    background-color: var(--color-green);

}

.details span + span + span{
    background-color: var(--color-orange);

}

.details span + span{
    background-color: var(--color-purple);

}

.details span:hover{
    transition: 1.3s;
    background-color: var(--color-black);
    color: var(--color-bluebold);
}

/* FORM */
input {
    width: 100%;
    outline: none;
    font-size: 20px;
    color: var(--color-dark-light);
    font-weight: bold;
    padding: 12px 6px;
    border-radius: 8px;
    background-color: var(--color-bluebold);
}


select{
    width: 100%;
    outline:none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 6px;
    border-radius: 8px;
    color: var(--color-dark-light);
    background-color: var(--color-bluebold);
}

input[type="radio"] {
    /* iniitial faz com que não seja aplicado o width 100%, e sim, fique o padrão para que não quebre */
    width: initial; 
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
    color: var(--color-white);
}

input[type="checkbox"]{
    width: initial;
    margin-right: 6px;
}

.typeclass{
    display: flex;
    align-items: center;

}

.typeclass div + div{
    margin-left: 15px;
}

.test{
    max-width: 25%;
    padding: 8px 16px;
    border-radius: 16px;
    padding-right: 25px;
    margin-top: 10px;

}
.test1{
    color: var(--color-dark-light);
    background-color: var(--color-green-dark);
}

.test2{
    background-color: var(--color-orange-dark);
    height: 28px;
}

.container {
    /* display: block; */
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-bluebold);
}

/* escondendo o marcador padrão do navegador */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container span{
    background-color: #eee;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}
/* criando um novo marcador arredondado */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
/* cinza quando estiver em cima */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* quando é selecionado, o  */
  .container input:checked ~ .checkmark {
    background-color: var(--color-dark-light);
  }
  /* Crie o indicador (o ponto / círculo - oculto quando não marcado */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Mostra o indicador (ponto / círculo) quando marcado */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 6px;
    left: 6.406px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .test2 .checkmark:after{
    left: 6px;
  }

.container:hover{
    transition: 1s;
    color: var(--color-black);
}

.test1:hover{
    transition: 1s;
    background-color: var(--color-green);
}

.test2:hover{
    transition: 1s;
    background-color: var(--color-orange);
}

.test1.active{
    background-color: var(--color-green);
}

.test2.active{
    background-color: var(--color-orange);
}

.ct1.active{
    color: var(--color-black);
}

.ct2.active{
    color: var(--color-black);
}

.classes{
    display: flex;
}

#ultimateButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}


#ultimateButtons .edit + .delete{
    margin-left: 2rem;
}



button[type="submit"],
.button{
    padding: 14px 38px;
    background-color: var(--color-bluebold);
    color: var(--color-black);
    width: 100%;
    border-radius: 4px;
    margin-top: 32px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: var(--color-black);
    color: var(--color-bluebold);
    transition: 1.3s;
}

.button{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

.edit .button{
    width: 100%;
    box-sizing: border-box;
    padding-left: 5.3rem;
    padding-right: 5.3rem;

}

.delete button{
    background-color: var(--color-white);
    padding-left: 5.3rem;
    padding-right: 5.3rem;
}

.button:hover{
    background-color: var(--color-black);
    color: var(--color-bluebold);
    transition: 1.3s;
}

.type{
    font-weight: bold;
}

.type span{
    background-color: var(--color-white);
}

.type span + span{
    background-color: var(--color-black);
    color: var(--color-white);
}


/* TABELA */
.table-index{
    color: var(--color-white);
    display: block;
    padding: 2.5rem;
    box-sizing: border-box;
}

.buttonCreate{
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 0.7rem 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.buttonCreate:hover{
    transition: 1.3s;
    background-color: var(--color-black);
    color: var(--color-white);
}

.table-index table{
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.7rem;

}

.table-index .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 1rem;
}

.header a{
    width: 4rem;
    align-items: center;
    text-align: center;
}

.header form{
    display: grid;
    grid-template-columns: 1fr 7.5rem;
    box-sizing: border-box;
    align-items: center;
    gap: 2rem;
}

.header form button{
    margin-top: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 0.5rem 0;
}

.create_students{
    background-color: var(--color-black);
    color: var(--color-white);
}

.create_students:hover{
    transition: 1.3s;
    background-color: var(--color-white);
    color: var(--color-black);
}

.input_create_student{
    background-color: var(--color-white);
    color: var(--color-black);
}

.input_create_student::-webkit-input-placeholder {
    color: var(--color-black);
 }

.header .filter_student{
    background-color: var(--color-white);
    color: var(--color-black);
}

.header .filter_student:hover{
    transition: 1.3s;
    background-color: var(--color-bluebold);
    color: var(--color-black);
}

.table-index table thead tr th{
    color: var(--color-bluebold);
    text-align: center;
}

td, th{
    padding: 1rem;
    border-bottom: 0.063rem solid var(--color-bluebold);
}

th{
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 0.188rem 0.063rem 0.4rem var(--color-black);
}

tbody tr:last-child td{
    border-bottom: none;
}


.table-index table tbody tr td:first-child{
    display: grid;
    grid-template-columns: 4rem 1fr;

    align-items: center;
    gap: 1rem;
}

.email, .grades{
    text-align: center;
}

.table-index table tbody tr td span{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: 0.188rem 0.063rem 0.4rem -0.1rem var(--color-black);
    border: 0.125rem solid var(--color-black);
}


.button-about{
    text-align: center;
}

.button-about a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
    padding: 0.5rem 1rem;
    background-color: var(--color-bluebold);
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.button-about a:hover{
    transition: 1.3s;
    background-color: var(--color-white);
    color: var(--color-black);
}

.table-index thead tr th:last-child, td:last-child{
    text-align: center;
}

.table-index tbody tr td .classes{
    color: var(--color-black);
    border: none;
    display: inline;
    padding: 0;
    box-shadow: none;
    background-position: unset;
    background-size: unset;
    border-radius: unset;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color-red);
    cursor: default;
}

.table-index tbody tr td .classes + .classes{
    margin-left: 0.5rem;
}

.table-index tbody tr td .classes + .classes + .classes + .classes{
    background-color: var(--color-purple);
    
}

.table-index tbody tr td .classes + .classes + .classes{
    background-color: var(--color-orange);  
}

.table-index tbody tr td .classes + .classes{
    background-color: var(--color-green);  
}

.table-index tbody tr td .classes:hover{
    transition: 1.3s;
    background-color: var(--color-black);
    color: var(--color-bluebold);
}

.table-index tbody tr td .classes + .classes + .classes:hover{
    transition: 1.3s;
    background-color: var(--color-black);
    color: var(--color-bluebold);
}

.student td:nth-child(3){
    text-align: center;
}


.grades{
    border: none;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
    text-align: center; 
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
}

.purple{
    color: var(--color-black);
    background-color: var(--color-purple);

}
.green{
    color: var(--color-black);
    background-color: var(--color-green);
}

.teacher .total_students {
    text-align: center;
}
.teacher .total_students .amount_student{
    padding: 0.3rem 1rem;
    border-radius: 80%;
    font-weight: bold;  
}


.red{
    background-color: var(--color-coral);
    color: var(--color-black);
}

.orange{
    background-color: var(--color-orange);
    color: var(--color-black);
}













