{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        {# tag para formar uma tabela #}
        <table>
            {# cabeçalho da tabela #}
            <thead>
                {# linha do cabeçalho  #}
                <tr>
                    {# coluna do cabeçalho #}
                    <th style="color: white">Instructor</th>
                    <th style="color: white">Atendimento</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="color: white">Lucas de Lima</td>
                    <td style="color: white">Crossfit</td>
                </tr>

                <tr>
                    <td style="color: white">Lucas de Lima</td>
                    <td style="color: white">Natação</td>
                </tr>

                <tr>
                    <td style="color: white">Lucas de Lima</td>
                    <td style="color: white">Musculação</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}