{% extends "layout.njk" %}

{% block content %}
   <form class="card" method="POST" action="/instructors">
      <section 
      class="avatar"
      {# configurando a imagem de fundo vindo de um api de coleção de imagens de academia do unsplash, focando no centro da imagem, configurando para não repetir e abranger a tela inteir\ #}
      style="background: url(https://source.unsplash.com/collection/8353395/700x700) no-repeat center center / cover"></section>
      <section class="details">
      
      <h3>Novo Instrutor</h3>

      <div class="item">
         <div>Avatar URL</div>
         <div>
            <input 
               type="url" 
               name="avatar_url"
               placeholder="https://..."
               >
         </div>
      </div>
      
      <div class="item">
         <div>Instrutor</div>
         <div>
            <input 
               type="text" 
               name="name"
               placeholder="Nome do Instrutor" 
               >
         </div>
      </div>


      <div class="item">
         <div>Data de Nascimento</div>
         <div>
         {# INPUT TIPO DATE, CONFIGURA PARA RECEBER JÁ UM DATA COM CALENDÁRIO DISPONÍVEL #}
            <input
               type="date" 
               name="birth"
               >
         </div>
      </div>
      
      <div class="item">
         <div>Sexo</div>
            <div>

            {# INPUT RADIO É O DE MARCAR UMA BOLINHA #}
               <span><input type="radio" 
                            name="gender" 
                            value="M" checked >Masculino</span>
                            {# CHECKED É UMA PROPRIEDADE EM QUE POR PADRÃO JÁ 
                            VAI DEIXAR SELECIONADO  O INPUT TIPO RADIO, INDICANDO AO 
                            USUÁRIO QUE ELE TERÁ QUE MARCAR UMA DAS OPÇÕES, NÃO PODE DEIXAR EM BRANCO #}
               
               <span><input type="radio" 
                            name="gender"
                            value="F">Feminino</span>
            </div>
      </div>

      <div class="item">
         <div>Area de Atuação</div>
            <div>
               <input 
                     type="text" 
                      name="services"
                      placeholder="Separe os serviços prestados por vírgula"
                      >
            </div>
      </div>

      <button type="submit">Salvar</button>

      </section>
   </form>
{% endblock content%}
