{% extends "layout.njk" %}

{% block title %}
    <title>Sobre</title>
{% endblock %}

{% block visuals %}
    <link rel="stylesheet" href="../visuals/Sobre_Desafio22.css">
{% endblock %}

{% block mark %}

    <div>
        <a href="/">Rocketseat</a>
    </div>

    <div class="here">
        <a href="/about">Sobre</a>
    </div>

    <div>
        <a href="/courses">Conteúdos</a>
    </div>

{% endblock %}

{% block content %}

    <div id="wrapper">

        <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="">
        <h1>Rocketseat</h1>
        <p>As melhores tecnologias em programação, usadas pela Nubank, Netflix, Uber, Instagram e Airbnb, direto ao ponto e do jeito certo. 🚀</p>
        <!-- <ul> <div>Tecnologias:</div> <li>Javascript</li> <li>HTML</li> <li>CSS</li> <li>Nodejs</li> <li>ReactJS</li> <li>React Native</li> </ul> -->
    </div>

    <div class="border">

        <form action="" class="technologies">

            <fieldset>

                <legend>
                    <h2>Tecnologias</h2>
                </legend>

                <div class="items-grid">

                    <li data-id="CSS">
                        <a href="https://www.youtube.com/watch?v=HN1UjzRSdBk">
                            <img src="../assets/CSS3.svg" alt="CSS">
                            <span>CSS</span>

                        </a>
                    </li>

                    <li data-id="HTML">
                        <a href="https://rocketseat.com.br/starter/curso-gratuito-javascript">
                            <img src="../assets/HTML5.svg" alt="HTML">
                            <span>HTML</span>

                        </a>
                    </li>

                    <li data-id="Javascript">
                        <a href="https://rocketseat.com.br/starter/curso-gratuito-javascript">

                            <img src="../assets/curso-javascript.svg" alt="Javascript">
                            <span>Javascript</span>

                        </a>
                    </li>

                    <li data-id="Nodejs">
                        <a href="https://rocketseat.com.br/starter/curso-gratuito-nodejs">

                            <img src="../assets/curso-nodejs.svg" alt="Nodejs">
                            <span>Nodejs</span>
                        </a>
                    </li>

                    <li data-id="ReactJS">
                        <a href="https://rocketseat.com.br/starter/curso-gratuito-reactjs">

                            <img src="../assets/curso-reactjs.svg" alt="ReactJS">
                            <span>ReactJS</span>
                        </a>
                    </li>

                    <li data-id="React Native">
                        <a href="https://rocketseat.com.br/starter/curso-gratuito-react-native">

                            <img src="../assets/curso-react-native.svg" alt="React Native">
                            <span>React Native</span>

                        </a>
                    </li>

                    <!-- <input type="hidden" name="items"> -->
                </div>
            </fieldset>

        </form>
    </div>
{% endblock %}