{% extends "layout.njk" %}

{% block content %}
    <div class="card table-index">
        {# tag para formar uma tabela #}
        <table>
            {# cabeçalho da tabela #}
            <thead>
                {# linha do cabeçalho  #}
                <tr>
                    {# colunas do cabeçalho #}
                    <th>Professores</th>
                    <th>Disciplinas</th>
                    <th>Sobre</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}
                        </td>

                        <td>
                            {% for class in teacher.classes %}
                                <span class="classes">{{class}}</span>
                            {% endfor %}
                        </td>

                        <td class="button-about">
                            <a href="/teachers/{{teacher.id}}">VER</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <div class="newCreate">
        <a class="buttonCreate" href="/teachers/create">Novo</a>
    </div>
    </div>
{% endblock %}