.text {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    color: var(--color-black);

}

.text h1{
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

.text p{
    color: var(--color-text);
    line-height: 1.75rem;
    font-size: 1.125rem;
    text-align: left;
}

.subtitle{
    margin-top: 1.875rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

.subtitle2{
    margin-top: 1.875rem;
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

@media (max-width: 58.438rem){

    .menu{
      justify-content: center;
    }
  
    .content{
      padding:0 0.5rem;
    }
  }
  
  
  @media (max-width: 39.375rem){
  
    .menu{
      justify-content: center;
    }

    .text{
        padding: 0 0.5rem;
    }
    
  }