.titleindex{
    display: flex;
    justify-content: left;
    text-align: unset;
}

.titleindex h1{
    line-height: 1.75rem;
    font-size: 1.5rem;
    color: var(--color-black);
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    max-width: 58.75rem;
    margin-top: 1.875rem;
}
.recipe{
    display: grid;
    grid-template-columns: 38% 62%;
    gap: 1.25rem;
}
.recipe img{
    border-radius: 0.536rem;
    height: 5rem;
    width: 10.75rem;
}

.recipe h4{
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: var(--color-black);
    font-weight: normal;
}

.recipe p{
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1rem;
    margin-top: 0.313rem;
    margin-bottom: 0.626rem;
}

.recipe a{
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-button);
    font-weight: bold;
}