body {
  align-items: center;
  justify-content: center;
}

/* .main {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.main main {
  background-color: var(--color-pink);
  border-radius: 1.875rem;
  height: 22.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.text-main {
  margin-top: 7.313rem;
  margin-bottom: 7.313rem;
  margin-left: 3.75rem;
  min-width: 12rem;
}

.text-main h1 {
  font-size: 2rem;
  line-height: 2.375rem;
}

.text-main p {
  line-height: 1.75rem;
  margin-top: 0.625rem;
  max-width: 19.75rem;
  opacity: 0.7;
  font-size: 1.125rem;
  color: var(--color-text-main-p);
}

.pet {
  margin-top: 4.125rem;
  margin-right: 6.25rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}

.card {
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;

}

.card::before{
  content: "";
  width: 0%;
  height: 0.5rem;
  background-color: var(--color-pinkred);
  right: 0;
  top: -1rem;
  position: absolute;
  /* border-radius: 2rem; */
}

.card::after{
  content: "";
  width: 0%;
  height: 0.5rem;
  background-color: var(--color-pinkred);
  position: absolute;
  left: 0;
}

.card:hover::before{
  width: 100%;
  transition: width 1000ms ease-in-out;
}

.card:hover::after{
  width: 100%;
  transition: width 1000ms ease-in-out;
}

.image-card {
  margin: 0;
}

.image-card img {
  border-radius: 0.938rem;
  width: 18.75rem;
  height: 8.75rem;
}

.content-card {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

.content-card h1 {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

.content-card p {
  color: var(--color-gray);
  font-size: 0.875rem;
  line-height: 1rem;
  margin-top: 0.313rem;
}


@media (max-width: 58.438rem){

  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 39.375rem){

  .subtitle{
    text-align: center;
  }


  .cards{
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
