@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap";

:root {
  --color-black: #111111;
  --color-pink: #fbdfdb;
  --color-text-main-p: #000000;
  --color-gray: #777777;
  --color-text: #444444;
  --color-cop: #999999;
  --color-backgournd-down: #eeeeee;
  --color-white: #FFFFFF;
  --color-pinkred: #DC4747;
  --color-modalOverlay: rgba(0, 0, 0, 0.6);
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* justify-content: center; */
}

.menu {
  display: flex;
  width: 100%;
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 1.688rem 0;
}

.logo {
  margin-right: 7.5rem;
}

.links {
  margin-top: 0.25rem;
  display: flex;
  color: var(--color-black);
}

.links a + a{
  margin-left: 1.875rem;
}

.links a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-black);
  line-height: 1.18rem;
  position: relative;
}

.links a:hover{
  color: var(--color-black);
}

.links a::after{
  content: "";
  width: 0%;
  height: 0.125rem;
  background-color: var(--color-black);
  position: absolute;
  left: 0;
  bottom: -0.25rem;
}

.links a:hover::after {
  width: 100%;
  transition: width 500ms ease-in-out;
}

.links a.active{
  font-weight: bold;
}

.links a.active::after{
  font-weight: bold;
  width: 100%;
  background-color: var(--color-black);
}

.content{
  max-width: 58.75rem;
  margin: 0 auto;
}


/* .content-flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.copyright {
  background: var(--color-backgournd-down);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 1.25rem 0;
}

.copyright p {
  line-height: 1rem;
  font-size: 0.875rem;
  text-align: center;
  color: var(--color-cop);
  justify-content: center;
}




@media (max-width: 58.438rem){

  .menu{
    justify-content: center;
  }

  .content{
    padding:0 0.5rem;
  }
}


@media (max-width: 39.375rem){

  .menu{
    justify-content: center;
  }
  
}
