body {
  background: var(--color-background);
  overflow: hidden;
  text-decoration: none;
}

.menu .here a {
  color: var(--color-orange);
  border-bottom: 3px solid var(--color-orange);
}

/* cards */

.past {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  align-items: center;
}

.main {
  width: 100%;
  max-width: 550px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.card {
  text-decoration: none;
  display: flex;
}

.card__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
}

.card__image-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
}

.img__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 145px;
  margin: 105px 0px 55px;
}

.card__info p {
  text-decoration: none;
  max-width: 270px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
}

.card__about {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__about p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.card__price {
  color: var(--color-black);
}

/* card 01 */
.starter {
  position: relative;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-black);
  border-radius: 5%;
  transition: all 0.2s ease 0s;
  padding: 64px;
  border: 3px solid var(--color-background);
}

.starter .card__image-container span {
  border: 3px solid var(--color-purple);
  color: var(--color-purple);
}

.starter .card__info p {
  color: var(--color-purple);
}

.starter .card__about {
  color: var(--color-purple);
}
.starter .card__price {
  background-color: var(--color-purple);
  padding: 5px 20px;
  border-radius: 20px;
}

.starter:hover {
  border: 3px solid var(--color-purple);
  transition: 750ms;
}

/* card 02 */
.launchbase {
  position: relative;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-black);
  border-radius: 5%;
  transition: all 0.2s ease 0s;
  padding: 64px;
  border: 3px solid var(--color-background);
}

.launchbase .card__image-container span {
  border: 3px solid var(--color-orange-card);
  color: var(--color-orange-card);
}

.launchbase .card__info p {
  color: var(--color-orange-card);
}

.launchbase .card__about {
  color: var(--color-orange-card);
}
.launchbase .card__price {
  background-color: var(--color-orange-card);
  padding: 5px 20px;
  border-radius: 20px;
}

.launchbase:hover {
  border: 3px solid var(--color-orange-card);
  transition: 750ms;
}

.gostack {
  position: relative;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-black);
  border-radius: 5%;
  transition: all 0.2s ease 0s;
  padding: 64px;
  border: 3px solid var(--color-background);
}

.gostack .card__image-container span {
  border: 3px solid var(--color-green);
  color: var(--color-green);
}

.gostack .card__info p {
  color: var(--color-green);
}

.gostack .card__about {
  color: var(--color-green);
}
.gostack .card__price {
  background-color: var(--color-green);
  padding: 5px 20px;
  border-radius: 20px;
}

.gostack:hover {
  border: 3px solid var(--color-green);
  transition: 750ms;
}

/* =====MODAL===== */
.modal-overlay {
  background-color: var(--color-modal-ovarlay);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  /* background-color: var(--color-modal); */
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
  border-radius: 15px;
  color: var(--color-black);


}

.modal .close-modal{
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
 
}

.modal .max-modal{
  position: absolute;
  top: 8px;
  right: 32px;
  cursor: pointer;
}
.modal .min-modal{
  position: absolute;
  top: 8px;
  right: 32px;
  cursor: pointer;
  visibility: hidden;
}

/* modal-overlay active */
.modal-overlay.active{
  opacity: 1;
  visibility: visible;
  
}

iframe {
  width: 96.5%;
  height: 90%;
  position: absolute;
  top: 5%;
  border-radius: 10px;
}

/* modal-active */
.modal.starter{
  background-color: var(--color-white);
  padding:0;
  border: 0;
  padding-left: 30px;
  transition: none;
}

.modal.launchbase{
  background-color: var(--color-orange-card);
  padding:0;
  border: 0;
  padding-left: 30px;
  transition: none;
}

.modal.gostack{
  background-color: var(--color-green);
  padding:0;
  border: 0;
  padding-left: 30px;
  transition: none;
}

/* modal-max */
.modal.maximize{
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.modal.maximize iframe{
  width: 100%;
}

.modal.maximize .max-modal{
  visibility: hidden;
}

.modal.maximize .min-modal{
  visibility: visible;
} 
