{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/visuals/show.css">
    <title>{{recipe.title}}</title>
{% endblock %}

{% block content %}

    <div class="thumbnail">
        <img src="{{recipe.image}}" alt="Imagem do {{recipe.title}}">
    </div>

    <div class="title">
        <h1>{{recipe.title}}</h1>
        <p>por
            {{recipe.author}}</p>
    </div>

    <section>
        <div class="item" id="itemShow">
            <div class="subtitle">
                <h1>{{info.subtitle[0]}}</h1>
                <span class="button1">ESCONDER</span>
            </div>

            <div class="data1">
                <ul>
                    {% for item in recipe.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="item" id="itemShow">
            <div class="subtitle">
                <h1>{{info.subtitle[1]}}</h1>
                <span class="button2">ESCONDER</span>
            </div>

            <div class="data2">
                <ul>
                    {% for item in recipe.preparation %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="item" id="itemShow">
            <div class="subtitle">
                <h1>{{info.subtitle[2]}}</h1>
                <span class="button3">ESCONDER</span>
            </div>
            <div class="data3">
                <p class="data">{{recipe.information}}</p>
            </div>
        </div>
    </section>

<script src="/scripts/recipe.js"></script>
{% endblock %}