* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    color: var(--color-dark-light);
    background-color: var(--color-bluebold);
}

.card{
    background-color: var(--color-dark-light);
    margin: 25px auto;
    max-width: 62.5rem;
    max-height: 54.375rem;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0rem 0.125rem 1.25rem 0.5rem var(--color-black);

    opacity: 0;

    animation: down;
    animation-delay: 500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes down{

    from{
        /* transform: translateY(90px); */
        transform: translateY(-150px);
    }

    to{
        opacity: 1;
    }
}

.details{
    padding: 20px 40px;
}

.details .item{
    border-bottom: 1px solid var(--color-white);
    padding: 20px 0;
}

.details .item:last-child{
    border: none;
}



.details h3,
.details .item div:nth-child(1){
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
    letter-spacing: 1px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    font-size: 20px;
    color: var(--color-bluebold);
    font-weight: bold;
}

.details h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--color-gray);
}

.details span {
    padding: 8px 16px;
    background-color: var(--color-red);
    border-radius: 16px;
    color: var(--color-black);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
}

.details span + span + span + span{
    background-color: var(--color-green);

}

.details span + span + span{
    background-color: var(--color-orange);

}

.details span + span{
    background-color: var(--color-purple);

}

.details span:hover{
    transition: 1.3s;
    background-color: var(--color-black);
    color: var(--color-bluebold);
}

/* FORM */
input {
    width: 100%;
    outline: none;
    font-size: 20px;
    color: var(--color-dark-light);
    font-weight: bold;
    padding: 12px 6px;
    border-radius: 8px;
    background-color: var(--color-bluebold);
}


select{
    width: 100%;
    outline:none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 6px;
    border-radius: 8px;
    color: var(--color-dark-light);
    background-color: var(--color-bluebold);
}

input[type="radio"] {
    /* iniitial faz com que não seja aplicado o width 100%, e sim, fique o padrão para que não quebre */
    width: initial; 
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
    color: var(--color-white);
}

input[type="checkbox"]{
    width: initial;
    margin-right: 6px;
}

.typeclass{
    display: flex;
    align-items: center;

}

.typeclass div + div{
    margin-left: 15px;
}

.test{
    max-width: 25%;
    padding: 8px 16px;
    border-radius: 16px;
    padding-right: 25px;
    margin-top: 10px;

}
.test1{
    color: var(--color-dark-light);
    background-color: var(--color-green-dark);
}

.test2{
    background-color: var(--color-orange-dark);
    height: 28px;
}

.container {
    /* display: block; */
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-bluebold);
}

/* escondendo o marcador padrão do navegador */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container span{
    background-color: #eee;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}
/* criando um novo marcador arredondado */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
/* cinza quando estiver em cima */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* quando é selecionado, o  */
  .container input:checked ~ .checkmark {
    background-color: var(--color-dark-light);
  }
  /* Crie o indicador (o ponto / círculo - oculto quando não marcado */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Mostra o indicador (ponto / círculo) quando marcado */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 6px;
    left: 6.406px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .test2 .checkmark:after{
    left: 6px;
  }

.container:hover{
    transition: 1s;
    color: var(--color-black);
}

.test1:hover{
    transition: 1s;
    background-color: var(--color-green);
}

.test2:hover{
    transition: 1s;
    background-color: var(--color-orange);
}

.test1.active{
    background-color: var(--color-green);
}

.test2.active{
    background-color: var(--color-orange);
}

.ct1.active{
    color: var(--color-black);
}

.ct2.active{
    color: var(--color-black);
}

.classes{
    display: flex;
}

#ultimateButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}


#ultimateButtons .edit + .delete{
    margin-left: 2rem;
}



button[type="submit"],
.button{
    padding: 14px 38px;
    background-color: var(--color-bluebold);
    color: var(--color-black);
    width: 100%;
    border-radius: 4px;
    margin-top: 32px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: var(--color-black);
    color: var(--color-bluebold);
    transition: 1.3s;
}

.button{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

.edit .button{
    width: 100%;
    box-sizing: border-box;
    padding-left: 5.3rem;
    padding-right: 5.3rem;

}

.delete button{
    background-color: var(--color-white);
    padding-left: 5.3rem;
    padding-right: 5.3rem;
}

.button:hover{
    background-color: var(--color-black);
    color: var(--color-bluebold);
    transition: 1.3s;
}

.type{
    font-weight: bold;
}

.type span{
    background-color: var(--color-white);
}

.type span + span{
    background-color: var(--color-black);
    color: var(--color-white);
}





