      <div class="item">
         <label>{{texts.inputsFields[0]}}
            <input 
               type="url"
               name="avatar_url"
               title="Digite a URL da imagem de avatar"
               placeholder="https://..."
               value="{{instructor.avatar_url}}"
               autocomplete="on"
               required
               >
         </label>
      </div>
      
      <div class="item">
         <label>{{texts.headTable[0]}}
            <input 
               type="text" 
               name="name"
               title="Digite o nome do {{texts.headTable[0]}}"
               placeholder="Nome do {{texts.headTable[0]}}"
               value="{{instructor.name}}"
               autocomplete="on"
               required 
               >
         </label>
      </div>

      <div class="item">
         <label>{{texts.inputsFields[1]}}
            <input
               type="date" 
               name="birth"
               title="Digite a data de nascimento"
               value="{{instructor.birth}}"
               autocomplete="on"
               required
               >
         </label>
      </div>
      
      <div class="item">
         <fieldset title="Selecione uma das opções">
            <legend>{{texts.inputsFields[2]}}</legend> 
            <div class="container-input-gender">
               <label id="man-label">
                  <input type="radio" 
                         name="gender"
                         id="man-input"
                         value="M"
                         {% if instructor.gender == "M" %} 
                           checked 
                         {% endif %}
                         required
                         >{{texts.inputsFields[4]}}
               </label>

               <label id="girl-label">
                  <input type="radio" 
                         name="gender"
                         id="girl-input"
                         value="F" 
                         {% if instructor.gender == "F" %} 
                           checked 
                         {% endif %}
                         required
                         >{{texts.inputsFields[5]}}
               </label>
         </fieldset>
      </div>

      <div class="item">
         <label>{{texts.inputsFields[3]}}
               <input 
                     type="text" 
                     name="services"
                     title="Digite seu tipo de atendimento"
                     placeholder="Musculação, Crossfit e Natação"
                     value="{{instructor.services}}"
                     autocomplete="on"
                     required
                     >
         </label>
      </div>

      <button type="submit">Salvar</button>