{% extends "layout.njk" %}

{% block head %}
   <title>{{texts.titles[0]}}</title>
{% endblock head %}

{% block content %}
   <main class="card table-container">

      <div class="header">
         <a 
            class="button" 
            href="/instructors/create"
            >{{texts.buttons[0]}}
         </a>
         
         <form action="/instructors" method="GET">
            <label 
               class="sr-only"
               for="filter">{{texts.legends[0]}}
            </label>
            
            <input 
               id="filter"
               type ="search" 
               name ="filter"
               title="Digite o nome do instrutor ou o tipo de atendimento" 
               placeholder ="Nome ou Atendimento"
               value = "{{filter}}" 
            >
            <button 
               type="submit"
               >{{texts.buttons[1]}}
            </button>
         </form>
      </div>

         <table>
            <caption 
               class="sr-only"
               >{{texts.legends[1]}}
            </caption>
            
            <thead>
               <tr>
                  {% for title in texts.headTable %}
                     <th scope="col">{{title}}</th>
                  {% endfor %}
               </tr>
            </thead>

            <tbody>
               {% for instructor in instructors %}
                  <tr>
                     <td>
                        <span 
                           style="background-image: url({{instructor.avatar_url}});">
                        </span>
                        <h3>{{instructor.name}}</h3>
                     </td>
                     
                     <td>
                        {% for service in instructor.services %}
                           <span class="services">{{service}}</span>
                        {% endfor %}
                     </td>
                     
                     <td><span>{{instructor.total_students}}</span></td>
                     
                     <td><a class="button" href="/instructors/{{instructor.id}}">ver</a></td>
                  </tr>
               {% endfor %}
            </tbody>

         </table>

         <div class ="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-filter = {{pagination.filter}}
         ></div>

   </main>
{% endblock content%}