
body {
    font-family: Roboto;
}

.here a{
    border-bottom: 2px solid var(--color-black);
    font-weight: bold;
}

.principal{
    margin-top: 50px;
}

.image-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-principal img{
    border-radius: 15px;
}

.text {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 36px;
    color: var(--color-black);
    line-height: 42px;
}

.title p{
    font-size: 20px;
    color: var(--color-gray);
    line-height: 24px;
}