<script>
    const formDelete = document.querySelector("#form-delete")

    formDelete.addEventListener("submit", function(event){
        const confirmation = confirm("Tem certeza que quer deletar?")

        if(!confirmation){
            event.preventDefault()
        }
    })
</script>